name: Deploy Action
description: Composite action to deploy the application to the specified environment

inputs:
  environment:
    description: 'Environment to deploy the application to'
    required: true

runs:
  using: "composite"
  steps:
    - name: Checkout Delivery Pipeline
      uses: actions/checkout@v3.5.2
      with:
        repository: mtararujs/python-greetings
        path: python-greetings

    - name: Stop Existing Service
      run:  pm2 delete greetings-app-${{ inputs.environment }} & EXIT /B 0
      shell: powershell

    - name: Start Service
      working-directory: python-greetings
      run: |
        run : pm2 start -n "books-${{ inputs.environment }}" index.js -- ${{ inputs.port }}
        Write-Host "Started greetings-app-${{ inputs.environment }} service."
      shell: powershell
